$borderRadius: 3px;
$width: 32px;
$height: 32px;
$marginLeft: 8px;
$blueColor: #1684eb;

@mixin button {
  width: $width;
  height: $height;
  padding: 0;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: $borderRadius;
  background-color: transparent;

  .icon div {
    display: flex;

    svg {
      width: 9px;
      height: 9px;
      fill: rgb(80, 80, 80);
    }
  }
}

@mixin jump {
  button {
    margin-left: $marginLeft;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &::before {
      content: "...";
    }
  }
}

.pagination {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;

  :global(.rc-pagination-disabled) {
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
  }

  :global(.rc-pagination-jump-prev) {
    @include jump;
  }

  :global(.rc-pagination-item) {
    a {
      border: 1px solid rgb(187, 187, 187);
      height: $height;
      cursor: pointer;
      margin-left: $marginLeft;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $borderRadius;
      color: black;
      padding: 0 10px;
      user-select: none;
    }
  }

  :global(.rc-pagination-item-active) {
    a {
      border: 1px solid $blueColor;
      color: $blueColor;
    }
  }

  :global(.rc-pagination-jump-next) {
    @include jump;
  }
}

.prev_button {
  @include button;

  .icon {
    transform: rotate(90deg);
  }
}

.next_button {
  @include button;
  margin-left: $marginLeft;

  .icon {
    transform: rotate(-90deg);
  }
}
