.card_data {
  margin-top: 20px;

  .user_name {
    margin-left: 7px;
  }

  .cards_title {
    margin-top: 10px;
  }

  .cards_row {
    margin-top: 10px;

    .card_item {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}
