.card_data {
  margin-top: 20px;

  .row {
    display: flex;
  }

  .user_name {
    margin-left: 7px;
  }

  .cards_title {
    margin-top: 10px;
    display: block;
  }

  .cards_row {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    .card_item {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}
