.body {
  height: 290px;
  background-color: #f0f0f0;
  padding: 20px 20px 90px 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 7%), 0 0 6px 3px rgb(0 0 0 / 6%);

  .schedule {
    margin-top: 20px;

    .tooltip {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 10px;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 500px) {
  .body {
    box-shadow: none;

    .tooltip {
      padding: 5px 7px !important;

      .tooltip_fs_12 {
        font-size: 12px;
      }
    }
  }
}
