.content {
  background-color: white;
  padding: 25px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  position: relative;
  // transform: translate3d(0, 100%, 0);
  // background-color: red;
  // transition: background-color 1s ease-in-out;

  .close_button {
    position: absolute;
    right: 12px;
    top: 10px;
  }
}
