.header_wrapper {
  height: 62px;

  .header {
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "currencies . logout";
    padding: 15px 20px;
    border-radius: 5px;
    position: fixed;
    top: 16px;
    left: 16px;
    width: calc(100% - 32px);
    z-index: 10;
    transition: width 0.15s, left 0.15s, box-shadow 0.15s, border-radius 0.15s ease-in-out;

    .currencies {
      grid-area: currencies;
    }

    .logout {
      grid-area: logout;
    }
  }

  .fixed_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 0;
  }
}
