.link {
  display: flex;
  color: #1684eb;
  align-items: center;
  padding: 10px 15px;
  margin: 5px 10px 0;
  border-radius: 6px;
  width: calc(100% - 20px);
  // justify-content: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #eef5ff;
  }

  &:first-child {
    margin-top: 10px;
  }

  .icon {
    min-width: 15px;
    display: flex;
    height: 22px;
    align-items: center;

    svg {
      fill: #1684eb;
    }
  }

  .text {
    margin-left: 15px;
    // display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
}

.active {
  background-color: #eef5ff;
}

.open_link {
  // justify-content: flex-start;
  padding: 10px 15px;

  .text {
    // display: block;
    opacity: 1;
    visibility: visible;
  }
}
