.body {
  width: 300px;

  .title_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inputs {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
}
