.main {
  background-color: rgb(245, 245, 245);
  background-size: cover;
  background-position: center;
  gap: 16px;
  padding: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "sideMenu body";

  .sideMenu {
    grid-area: sideMenu;
  }

  .header {
    grid-area: header;
  }

  .body {
    grid-area: body;
    display: grid;
    gap: 16px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "body";

    .sideMenu {
      display: none;
    }
  }
}
