.animation {
  &_enter {
    opacity: 0;

    &_active {
      opacity: 1;
      transition: opacity 0.2s;
    }
  }

  &_exit {
    opacity: 1;

    &_active {
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
}
