@mixin active {
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 7%), 0 0 6px 3px rgb(0 0 0 / 6%);
}

.item {
  transition: box-shadow 0.15s ease-in-out;
  border-radius: 5px;

  &:hover {
    @include active;
  }
}

.active_item {
  @include active;
}
