$circle: #3f51b5;
$sub-circle: #f50057;
$hover_color: #606fc7; // Appears 4 times

.body {
  height: 60px;
  width: 60px;
  position: fixed;
  right: 50px;
  bottom: 40px;

  .circle {
    background-color: $circle;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    transition: 0.2s;
    z-index: 98;
    align-items: center;
    justify-content: center;

    &:active {
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
      transform: scale(0.9);
    }

    &:hover {
      background-color: $hover_color;
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    .circle_icon {
      display: flex;
      transform: rotate(180deg);
      transition: 0.5s;

      svg {
        fill: white;
        width: 20px;
        height: 20px;
      }
    }
  }

  .subs {
    height: 40px;
    width: 40px;
    left: -20px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -50px;
    z-index: 0;
  }

  .hidden_sub_trigger {
    display: none;
  }
}

.body_active {
  .label {
    background-color: $hover_color;
  }

  .circle {
    background-color: $hover_color;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: scale(0.9);

    .circle_icon {
      transform: rotate(45deg);
    }
  }

  .subs {
    .subs_item {
      &:nth-of-type(1) {
        opacity: 1;
        transform: translate(-100px, 0px) scale(1);
        transition: 0.1s;
      }
      &:nth-of-type(2) {
        opacity: 1;
        transform: translate(-75px, -75px) scale(1);
        transition: 0.2s;
      }
      &:nth-of-type(3) {
        opacity: 1;
        transform: translate(0px, -100px) scale(1);
        transition: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .body {
    right: auto;
    left: 10px;
    bottom: 60px;

    .circle {
      height: 45px;
      width: 45px;
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }

      .circle_icon {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .subs {
      top: -40px;
    }
  }

  .body_active {
    .subs {
      .subs_item {
        height: 35px;
        width: 35px;
        box-shadow: none;

        &:nth-of-type(1) {
          transform: translate(75px, 0px) scale(1);
        }
      }
    }
  }
}
