.body {
  height: 220px;

  .schedule {
    margin-top: 20px;

    .tooltip {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 10px;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 500px) {
  .body {
    .schedule {
      margin-top: 5px;

      .tooltip {
        padding: 5px 7px;

        .tooltip_label {
          font-size: 12px;
        }

        .tooltip_value {
          font-size: 12px;
        }
      }
    }
  }
}
