.button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  .close_icon {
    div {
      display: flex;

      svg {
        width: 12px;
        height: 12px;
        fill: rgb(104, 104, 104);
      }
    }
  }
}
