.body {
  width: 100%;
  position: relative;

  .input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
  }
}

.errorBody {
  .input {
    color: red;
    outline-color: red;

    &::placeholder {
      color: red;
    }
  }

  .errorText {
    position: absolute;
    font-size: 10px;
    right: 0;
    bottom: -18px;
    color: red;
  }
}
