.body {
  display: flex;
  justify-content: center;
  width: 100%;

  .text {
    text-align: center;

    .blue_link_btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 0;

      .blue_link_text {
        color: #1890ff;
      }
    }
  }
}
