.button {
}

.link {
  color: white;
  background-color: #1890ff;
  padding: 7px 13px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  display: block;
  width: max-content;

  &:hover {
    background-color: #40a9ff;
    color: white;
  }
}
