.body {
  width: 230px;
  background-color: white;
  height: 100%;
  border-radius: 6px;
  transition: width 0.2s ease-in-out;

  .links {
    display: flex;
    flex-direction: column;
  }
}

.close_body {
  width: 65px;
}
